{% extends '_partials/layout.twig' %}

{% block styles %}
    {{ parent() }}

    {{ css.inline('/resources/css/home.scss')|raw }}
{% endblock %}

{% block backlink %}{% endblock %}

{% block body %}
    <div class="logo home-logo">
        <img src="{{ logo.src }}" srcset="{{ logo.srcset }}" alt="">
    </div>

    <nav class="home">
        <a href="/christelijke-kinderopvang-hoboken" class="home-button-blue">
            <span>
                Christelijke Kinderopvang Hoboken
            </span>
        </a>
        <a href="/het-vlinderhuisje-hoboken" class="home-button-orange">
            <span>
                Het Vlinderhuisje Hoboken
            </span>
        </a>
        <a href="/het-speelkasteel" class="home-button-purple">
            <span>
                Het Speelkasteel
            </span>
        </a>
    </nav>
{% endblock %}
