$red: #ff2700;
$green: #05f802;
$blue: #0096ff;
$yellow: #fefc04;
$orange: #ff9400;
$purple: #932291;

.red {
    color: $red;
}

.green {
    color: $green;
}

.yellow {
    color: $yellow;
}

.orange {
    color: $orange;
}

.blue {
    color: $blue;
}

.purple {
    color: $purple;
}

.bg-red {
    background-color: $red;
}

.bg-green {
    background-color: $green;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-orange {
    background-color: $orange;
}

.bg-blue {
    background-color: $blue;
}

.bg-purple {
    background-color: $purple;
}
