<html>
<head>
    {% block head %}
        <title>Slides</title>

        {% block styles %}
            {{ css.inline('/resources/css/main.scss')|raw }}
        {% endblock %}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="{% block bodyClass %}{% endblock %}">

{% block body %}{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>
