{% extends '_partials/layout.twig' %}

{% block bodyClass %}links-blue{% endblock %}

{% block body %}
    <h1 class="blue">Christelijke Kinderopvang Hoboken</h1>

    <div class="row image-left">
        <img src="{{ image1.src }}" srcset="{{ image1.srcset }}" alt="">

        <p>
            Al sinds 2007 een warme, professionele kinderopvang met plaats voor 22 kinderen. Ons toffe team van kinderverzorgsters omringt uw kindje met liefde en aandacht, met oog voor de ontwikkeling. We zorgen voor voldoende rust en lekker eten, een regelmatig dagritme en activiteiten op niveau passend bij de leeftijd. We werken vanuit een christelijke levensvisie, onze belangrijkste pijlers voor de omgang met de kinderen zijn liefde, aanwezigheid en stimuleren. Vanzelfsprekend zijn mensen van alle levensbeschouwingen welkom.
        </p>
    </div>

    <div class="row">
        <p>
            We hebben een attest van Kind en Gezin, en werken met facturatie naar inkomen, met steun van de overheid.
            U kunt zich op <a href="https://mijn.kindengezin.be" target="_blank" rel="noopener noreferrer">mijn.kindengezin.be</a> registreren om te weten hoeveel u moet betalen per dag.
            We vragen een kleine extra voor de pampers, verzorgingsproducten en afvalverwerking.
        </p>

        <img src="{{ image2.src }}" srcset="{{ image2.srcset }}" alt="">
    </div>

    <div class="contact-info">
        <h2 class="blue">
            Contact
        </h2>

        <p>
            Wanneer u wilt inschrijven voor de opvang van uw kindje kan u ons bereiken:
        </p>

        <p>
            Christelijke Kinderopvang Hoboken <br>
            Sint Bernardsesteenweg 503 <br>
            2660 Hoboken<br>
        </p>

        <p>
            email: <a href="mailto:ckh@devlamvzw.org">ckh@devlamvzw.org</a><br>
            telefoonnummer <a href="tel:03/827 81 45">03/827 81 45</a><br>
        </p>

        <p>
            <a href="/" class="backlink">Terug</a>
        </p>
    </div>
{% endblock %}
