{% extends '_partials/layout.twig' %}

{% block body %}
    <div class="banner">
        <h1 class="purple">
            Het speelkasteel
        </h1>

        <img src="{{ banner.src }}" srcset="{{ banner.srcset }}" alt="">
    </div>

    <div class="row">
        <p>
            We zijn heel blij om u te kunnen aankondigen dat we in het voorjaar van 2019 gaan
            verhuizen naar Het speelkasteel! Deze nieuwe kinderopvang wordt gebouwd met steun
            van de overheid en voldoet aan alle moderne bouweisen. We hebben daar plaats voor 3
            x 18 kinderen. We zullen de kinderen opvangen met dezelfde passie die we al zoveel jaar
            hebben, en dit bovendien in een heel mooie setting.
        </p>
    </div>

    <div class="contact-info">
        <h2 class="blue">
            Contact
        </h2>

        <p>
            Wanneer u wilt inschrijven voor de opvang van uw kindje kan u ons bereiken:
        </p>

        <p>
            Christelijke Kinderopvang Hoboken <br>
            Sint Bernardsesteenweg 503 <br>
            2660 Hoboken
        </p>

        <p>
            email: <a href="mailto:ckh@devlamvzw.org">ckh@devlamvzw.org</a><br>
            telefoonnummer <a href="tel:03/827 81 45">03/827 81 45</a>
        </p>

        <p>
            <a href="/" class="backlink">Terug</a>
        </p>
    </div>
{% endblock %}
