{% extends '_partials/layout.twig' %}

{% block body %}
    <h1 class="blue">
        Het Vlinderhuisje Hoboken
    </h1>

    <div class="row">
        <p>
            Al sinds 2013 een kleinschalige professionele kinderopvang met plaats voor 14
            kinderen. Ons toffe team van kinderverzorg(st)ers omringt uw kindje met liefde en
            aandacht, met oog voor de ontwikkeling. We zorgen voor voldoende rust en lekker eten,
            een regelmatig dagritme en activiteiten op niveau passend bij de leeftijd. We werken
            vanuit een christelijke levensvisie, onze belangrijkste pijlers voor de omgang met de
            kinderen zijn liefde, aanwezigheid en stimuleren. Vanzelfsprekend zijn mensen van alle
            levensbeschouwingen welkom.
        </p>

        <img src="{{ image1.src }}" srcset="{{ image1.srcset }}" alt="">
    </div>

    <div class="row">
        <img src="{{ image2.src }}" srcset="{{ image2.srcset }}" alt="">

        <p>
            We hebben een attest van Kind en Gezin, en werken met facturatie naar inkomen, met
            steun van de overheid. U kunt zich op mijn.kindengezin.be registreren om te weten
            hoeveel u moet betalen per dag. We vragen een kleine extra voor de pampers,
            verzorgingsproducten en afvalverwerking.
        </p>
    </div>

    <div class="contact-info">
        <h2 class="red">
            Contact
        </h2>

        <p>
            Wanneer u wilt inschrijven voor de opvang van uw kindje kan u ons bereiken
        </p>

        <p>
            Het vlinderhuisje Hoboken <br>
            Kloosterstraat 17 <br>
            2660 Hoboken <br>
        </p>

        <p>
            email: <a href="mailto:vlinderhuisje@devlamvzw.org">vlinderhuisje@devlamvzw.org</a><br>
            gsm: <a href="tel:0468/13 62 31">0468/13 62 31</a>
            of gsm verantwoordelijke <a href="tel:0479/42 68 55">0479/42 68 55</a><br>
        </p>

        <p>
            <a href="/" class="backlink">Terug</a>
        </p>
    </div>
{% endblock %}
